- provide(:header) { 'Rooms' }

%table.table.table-bordered.table-striped
  %thead
    %tr
      %td Name
      %td Description
      %td Actions
  %tbody
    - @rooms.each do |room|
      %tr{id: "room#{room.id}"}
        %td= room.name
        %td= room.description
        %td= link_to 'Edit', edit_admin_room_path(room)

= link_to 'New Room', new_admin_room_path, class: 'btn btn-primary new-button'
