.room
  %h1= @room.name
  .description
    %strong Description:
    = @room.description

  - unless @items.empty?
    .items
      %strong #{pluralize(@items.size, 'Item', 'Items')} here:
      .accordion
      - @items.each do |item|
        .accordion-group
          .accordion-heading
            .accordion-toggle{id: "item-#{item.id}-header", 'data-toggle' => 'collapse', 'data-target' => "#item-#{item.id}-body" }
              %span.item-header
                A #{item.name}
                %i.icon-eye-open
          .accordion-body.collapse{id: "item-#{item.id}-body"}
            .accordion-inner
              = button_to 'Pick Up', room_pick_up_path(@room, item_id: item.id), class: 'btn btn-warning'

  .exits
    - @exits.each do |exit|
      = button_to exit.name, room_move_path(@room, exit_id: exit.id), class: 'btn btn-danger'

:javascript
  new crawly.views.RoomView({el: 'body'});