!!!
%html
  %head
    %title Crawly Admin
  = stylesheet_link_tag 'admin', media: 'all'
  = javascript_include_tag 'admin/application'
  = csrf_meta_tags

  %body
    .container
      .page-header
        - header = yield(:header)
        %h2= header.present? ? header : 'Admin'
      .row-fluid
        .span3
          = render 'layouts/admin/nav'
        .span9
          - if notice
            .alert= notice
          = yield